<div class="container">
    <!--<%--<form class="form-signin" ng-submit="login()">--%>-->
    <div class="form-sigin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="input-block-level" placeholder="User name" ng-model="username">
        <input type="password" class="input-block-level" placeholder="Password" ng-model="password">
        <label class="checkbox">
            <input type="checkbox" value="remember-me" ng-model="remember">Remember me
        </label>

        <input type="button" class="btn btn-large btn-primary" value="Sign in" ng-click="login()">
    </div>
    <!--<%--</form>--%>-->
</div>